@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit.eot');
    src: url('../fonts/Larsseit.eot?iefix') format('eot'),
        url('../fonts/Larsseit.woff') format('woff'),
        url('../fonts/Larsseit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Bold.eot');
    src: url('../fonts/Larsseit-Bold.eot?iefix') format('eot'),
        url('../fonts/Larsseit-Bold.woff2') format('woff2'),
        url('../fonts/Larsseit-Bold.woff') format('woff'),
        url('../fonts/Larsseit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Light.eot');
    src: url('../fonts/Larsseit-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Larsseit-Light.woff2') format('woff2'),
        url('../fonts/Larsseit-Light.woff') format('woff'),
        url('../fonts/Larsseit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


body {
    font-family: 'Larsseit';
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}

.placeholder1 {
    display: inline-flex;
    width: 12.4565%;
}

.placeholder2 {
    display: inline-flex;
    width: 23.2428%;
}

.placeholder3 {
    display: inline-flex;
    width: 22.2686%;
}

.placeholder4 {
    display: inline-flex;
    width: 8.9074%;
}

div.introduction {
    height: 840px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

div.introduction header.intro {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    height: 177px;
    width: 100%;
    margin-top: 27px;
    z-index: 10;
}

div.introduction .header-menu-item {
    display: inline-flex;
    height: 45px;
    align-items: center;
    padding: 0px 5px;
    padding-top: 11px;
}

div.introduction .header-menu-link {
    color: #22356F;
    font-size: 14px;
}

div.introduction .header-menu-item:hover {
    border-bottom: 1px solid #22356F;
}

div.introduction .logo {
    display: inline-flex;
    font-size: 24px;
    color: #62D0DF;
    letter-spacing: -0.035em;
    height: 27px;
    width: 93px;
}

div.introduction .header-logo {
    margin-top: 27px;
}

div.introduction .menu {
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

div.introduction .header-menu {
    display: inline-flex;
    width: 233px;
    justify-content: space-between;
    
}

div.introduction a {
    text-decoration: none;
    color: black;
}

div.introduction .contact-button {
    display: inline-flex;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #62D0DF;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    min-width: 150px;
}

div.introduction .left-column {
    display: flex;
    box-sizing: border-box;
    height: 840px;
    width: 77.6%;
    background-color: #F4F9E2;
    padding-top: 241px;
    overflow: visible;
}

div.introduction article.intro {
    margin-left: 16.2137%;
    background-color: #F4F9E2;
    border-radius: 50px;
    z-index: 7;
}

div.introduction h1 {
    display: block;
    width: 484px;
    height: 167px;
    font-size: 48px;
    color: #22356F;
    text-transform: uppercase;
    font-weight: bold;
}

div.introduction .blank {
    display: flex;
    background-color: #ffffff   ;
    width: 23.4%;
}






.photo {
    width: 808px;
    height: 544px;
    border-radius: 312px;
    position: absolute;
}

.photo.back {
    z-index: 2;
    background-color: #EDFDFF;
    top: 20px;
    left: 0.508%;
    transform: rotate(-60deg);
}

.photo.decoration {
    z-index: 3;
    transform: rotate(160deg);
    top: 100px;
    left: 0.5219%;
    background-color: violet;
}


div.introduction article.intro {
    width: 469px;
}

div.introduction p.intro {
    margin-top: 19px;
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
}

div.introduction .intro-logo {
    height: 64px;
}

div.introduction .who-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #F9B640;
    text-transform: uppercase;
    margin-top: 63px;
}

div.introduction .what-button {
    display: inline-flex;
    align-items: center;
    width: 150;
    height: 43;
    color: #F9B640;
    text-transform: uppercase;
    margin-left: 38px;
}

div.introduction .who-button > a {
    color: white;
}

div.introduction .what-button > a {
    color: #FAB63E;
}