@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit.eot');
    src: url('../fonts/Larsseit.eot?iefix') format('eot'),
        url('../fonts/Larsseit.woff') format('woff'),
        url('../fonts/Larsseit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Bold.eot');
    src: url('../fonts/Larsseit-Bold.eot?iefix') format('eot'),
        url('../fonts/Larsseit-Bold.woff2') format('woff2'),
        url('../fonts/Larsseit-Bold.woff') format('woff'),
        url('../fonts/Larsseit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



body {
    font-family: 'Larsseit';
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
}


.introduction {
    height: 840px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

header.intro {
    display: flex;
    flex-direction: row;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 177px;
    width: 100%;
    margin-top: 27px;
}

.header-menu-item {
    display: inline-flex;
    height: 45px;
    align-items: center;
    padding: 0px 5px;
    padding-top: 11px;
}

.header-menu-link {
    color: #22356F;
    font-size: 14px;
}

.header-menu-item:hover {
    border-bottom: 1px solid #22356F;
}

.logo {
    display: inline-flex;
    font-size: 24px;
    color: #62D0DF;
    letter-spacing: -0.035em;
    height: 27px;
    width: 93px;
}

.header-logo {
    margin-top: 27px;
    margin-left: 179px;
}

.menu {
    display: inline-flex;
    flex-direction: row;
    width: 49.2%;
    height: 50px;
    justify-content: space-between;
    margin-right: 128px;
    margin-left: auto;
    min-width: 400px;
}

.header-menu {
    display: inline-flex;
    width: 233px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.contact-button {
    display: inline-flex;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #62D0DF;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.left-column {
    display: flex;
    box-sizing: border-box;
    height: 840px;
    width: 77.6%;
    background-color: #F4F9E2;
    padding-top: 241px;
}

article.intro {
    margin-left: 179px;
}

h1 {
    display: block;
    width: 484px;
    height: 167px;
    font-size: 48px;
    color: #22356F;
    text-transform: uppercase;
    font-weight: bold;
}

.blank {
    display: flex;
    background-color: #ffffff   ;
    width: 23.4%;
}


.photo-container {
    display: inline-flex;
    position: absolute;
    top: 90px;
    left: 790px;
    z-index: 2;
}



.photo {
    width: 808px;
    height: 544px;
    border-radius: 312px;
    position: absolute;
}

.photo.back {
    z-index: 2;
    background-color: #EDFDFF;
    top: -70px;
    left: -60px;
    transform: rotate(-60deg);
}

.photo.decoration {
    z-index: 3;
    transform: rotate(160deg);
    top: 10px;
    left: -40px;
    background-color: violet;
}

article.intro {
    width: 469px;
}

p.intro {
    margin-top: 19px;
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
}

.intro-logo {
    height: 64px;
}

.who-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #F9B640;
    text-transform: uppercase;
    margin-top: 63px;
}

.what-button {
    display: inline-flex;
    align-items: center;
    width: 150;
    height: 43;
    color: #F9B640;
    text-transform: uppercase;
    margin-left: 38px;
}